<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pgb.brewapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    
    <!-- Do not auto hide splash on iOS -->
<preference name="AutoHideSplashScreen" value="false" />
<!-- Do not auto hide splash on Android -->
<preference name="SplashScreenDelay" value="10000"/>

<gap:plugin name="org.apache.cordova.splashscreen" />
    
	<name>Wishlist App</name>
	<description>
		This app brews beer.
	</description>

	<author email="seymourbutts@phonegap.com" href="http://phonegap.com">
	   PhoneGap Team
	</author>

	<preference name="phonegap-version" value="cli-6.0.0" />
</widget>